@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@layer utilities {
  /* Prevent empty url() classes */
  .bg-\[url\(\)\],
  .bg-\[url\(\'\'\)\] {
    display: none !important;
  }
}
